<section class="features">
	<div class="wrapper">
		<div class="owl-two owl-carousel owl-theme margin-bot">
			<div class="roomgallery rg01">
			</div>
			<div class="roomgallery rg02">
			</div>
		</div>
		<div class="flex-cont">
			<div class="area">
				<div class="area-image area-bg-01">	
				</div>
			</div>
			<div class="area">
				<div class="area-image area-bg-02">	
				</div>
			</div>
			<div class="area">
				<div class="area-image area-bg-03">	
				</div>
			</div>
		</div>
		<p>Mulberry Street New York, 2017</p>
	</div>
</section>