{% if page.url == "/english.html" %}
<script type="text/javascript" id="cookieinfo"
	src="//cookieinfoscript.com/js/cookieinfo.min.js"
	data-bg="rgba(57,21,31,0.9)"
	data-font-size="13px"
	data-fg="#FFFFFF"
	data-link="#803351"
	data-height="150px"
	data-message="We use cookies to enhance your experience. By continuing to visit this site you agree to our use of cookies."
	data-cookie="CookieInfoScript"
	data-text-align="left"
  data-close-text="I Love Cookies">
</script>
{% else %}
<script type="text/javascript" id="cookieinfo"
	src="//cookieinfoscript.com/js/cookieinfo.min.js"
	data-bg="rgba(57,21,31,0.9)"
	data-font-size="13px"
	data-fg="#FFFFFF"
	data-link="#803351"
	data-height="150px"
	data-message="Wir verwenden Cookies, um Ihre Erfahrung zu verbessern. Wenn Sie diese Seite weiterhin besuchen, stimmen Sie der Verwendung von Cookies zu."
	data-cookie="CookieInfoScript"
	data-text-align="left"
  data-close-text="Ich stimme zu">
</script>
{% endif %}