<section class="features">
	<div class="wrapper">
	<div class="flexrow">
		<div class="featbox flexitem textcontain gold order1">
				{% if page.url == "/english.html" %}
					<h5 class="feature-title">Rooms</h5>
   				<p class="feature-description">{{ site.room-eng }}</p>
				{% else %}
					<h5 class="feature-title">Zimmer</h5>
   				<p class="feature-description">{{ site.room-de }}</p>
				{% endif %}
		</div>
		<div class="featbox flexitem cover waterview order2">
			<div class="pricebox orangeborder">
				<h5>Street-View Rooms</h5>
				<p>ab</p>
				<h2>€ 128,00</h2>				
			</div>
		</div>
		<div class="featbox flexitem cover restaurant order3"></div>
		<div class="featbox flexitem textcontain blue order4">
			<h5 class="feature-title">Mulberry Street</h5>
			{% if page.url == "/english.html" %}
   				<p class="feature-description">{{ site.mulberry-eng }}</p>
				{% else %}
   				<p class="feature-description">{{ site.mulberry-de }}</p>
			{% endif %}
		</div>
		<div class="featbox flexitem textcontain grey order5">
			<h5 class="feature-title">New York Bar</h5>
			{% if page.url == "/english.html" %}
   				<p class="feature-description">{{ site.bar-eng }}</p>
				{% else %}
   				<p class="feature-description">{{ site.bar-de }}</p>
			{% endif %}
		</div>
		<div class="featbox flexitem cover bar order6"></div>
	</div>
	</div>
</section>