<footer class="footer">
			<a href="{{ site.baseurl}}/index.html"><img class="footer-logo" src="{{ site.baseurl}}/assets/images/mulberryst-logo.svg" alt=""></a>
			<a href="{{ site.baseurl}}/index.html"><img class="star-logo-footer" src="{{site.baseurl }}/assets/images/mulberry-star-logo.svg" alt=""></a>		
<div class="footer-caption">
<p>© 2018 Mulberry St<br>
	RESTAURANT IM THE LIBERTY HOTEL<br>
Columbusstr. 67 | 27568 Bremerhaven</p>
<p>Betrieben durch: welcome Home GmbH<br>	
Columbusstr. 65 | 27568 Bremerhaven</p>
{% if page.url == "/english.html" %}
<p>Tuesday – Saturday<br><strong>6:00 PM – 10:00 PM</strong><br>
{% else %}
<p>Dienstag – Samstag<br><strong>18:00 – 22:00 Uhr</strong><br>
{% endif %}
Telefon Reservierungen: <strong>+49 (0) 471 9 02 24 161</strong><br>
E-Mail: <a href="mailto:Mulberry@wh-bremerhaven.de">Mulberry@wh-bremerhaven.de</a></p>
<a href="/impressum">Impressum</a> | <a href="/datenschutz">Datenschutz</a>  |  <a class="navlink" } href="/jobs">Stellenangebote</a> 
</div>
</footer>