<header class="header">
	<div class="wrapper">
<!-- 		<div id="menu-icon">
  		<span></span>
  		<span></span>
  		<span></span>
  		<span></span>
		</div> -->
		<h4 class="grand-opening">Opening March 10th</h4>
		<div class="flex-cont flex-center flex-wrap">
			<div class="lang-block">
				<a href="{{ site.baseurl}}/english.html"> <img class="english-selector" src="{{site.baseurl }}/assets/images/english.png" alt="english" width="40px" height="auto"></a>
					<a href="{{ site.baseurl}}/index.html"> <img class="deutsch-selector" src="{{site.baseurl }}/assets/images/deutsch.png" alt="german" width="40px" height="auto"></a>
				<p>Reservations:<br><strong>+49 (0) 471 9 02 24 161</strong></p>
			</div>
			<div class="logo-block">
				<a href="{{ site.baseurl}}/index.html"><img class="logo" src="{{site.baseurl }}/assets/images/mulberryst-logo.svg" alt="">	</a>
			</div>
			<div class="action-block">
				<p>Tuesday – Saturday<br><strong>6:00 PM – 10:00 PM</strong></p>
			</div>

		</div>
	</div>
	<nav class="normal-navigation">
			{% include nav-eng.html %}
	</nav>
</header>


