<section>
<div class="description extrapad">
<div class="wrapper extrapad">
    {% include util.html %}
<div class="jobs extrapad">
  <h5 class="job-title">Stellenangebote bei Mulberry ST</h5>
  <p>Hier wirst du Teil einer großen Familie und trägst zum Erfolg unseres Restaurants bei. <br>
     Wir suchen zum baldmöglichsten Termin die folgenden Mitarbeiter und Mitarbeiterinnen:</p>
  <ul class="jobs extrapad">
    <li>Sous Chef</li>
    <li>Commis de Cuisine</li>
    <li>Chef de Rang / Sommelier</li>
    <li>Service</li>
  </ul>
  <p>Vollständige Bewerbungen bitte an <a href="mailto:mulberry@wh-bremerhaven.de">mulberry@wh-bremerhaven.de</a></p>
</div>

	</div>
	</div>
</section>



