<section class="location">
    <div class="wrapper">
      <div class="description extrapad">
          <a id="location"></a>
        <h3>Location</h3>

      </div>
      <div class="col100">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9482.582866072917!2d8.5736855!3d53.5462398!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd3621224de55d405!2sTHE+LIBERTY+Hotel+Bremerhaven!5e0!3m2!1sen!2sde!4v1521544919804" width="100%" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      {% if page.url == "/english.html" %}


      <div class="extrapad">
        <div class="description">
          <h6 class="uppercase">By car:</h6>
          <p>Via the A 27, take the exit Bremerhaven Mitte, continue on the Grimsbystraße, continue on Lloydstraße, turn left into the <strong>Columbusstraße</strong>.</p>
          <p>The hotel is on the right. Additional parking is available nearby.</p>
          <p>If available, you are welcome to use the hotel's own parking garage <br> (€ 16.00 per day)</p>
          <h6 class="uppercase">By public transport:</h6>
          <p>From the <strong>Bremerhaven Central Station</strong> you can reach us in 10 minutes by taxi or you can use the bus lines 501, 502, 505, 506, 509. The bus stop is <strong>“Havelwelten”</strong></p>
          
      </div>

        </div>


      {% else %}
      
      
      <div class="extrapad">
        <div class="description">
          <h6 class="uppercase">Mit dem Auto:</h6>
          <p>Über die A 27, nehmen Sie die Ausfahrt Bremerhaven Mitte, weiter auf der Grimsbystraße, weiter auf Lloydstraße, links abbiegen in die <strong>Columbusstraße</strong>.</p>
          <p>Das Hotel befindet sich auf der rechten Seite.</p>
          <p>Gern nutzen Sie, bei Verfügbarkeit, die hoteleigene Parkgarage <strong>(16,00 € am Tag)</strong>. Weitere Parkmöglichkeiten befinden sich in der Nähe.</p>
          <h6 class="uppercase">Mit öffentlichen Verkehrsmittel:</h6>
          <p>Vom <strong>Hauptbahnhof Bremerhaven</strong> erreichen Sie uns in wenigen Minuten per Taxi oder mit den Buslinien 501, 502, 505, 506, 508, 509. Die Haltestelle ist <strong>‚Havenwelten’</strong>.</p>
          
        </div>
        </div>
      
      
      
      {% endif %}
      
     

      </div>
    </div>
  </section>



