<section class="mulberry">
							<div class="owl-mulberry owl-carousel">
									<div class="keyvisual area-bg-01">
											<div class="lockup">
													<h5>Mulberry Street</h5>
													{% if page.url == "/english.html" %}
   		<p><a href="https://en.wikipedia.org/wiki/Mulberry_Street_(Manhattan)" target="_blank">Mulberry Street</a> is situated in the middle of downtown Manhattan. It is one of the oldest streets in New York and is characterized by the quarter Little Italy in the north and Chinatown in the south. Hardly any other place represents more different cultures living together and variety of food like Mulberry Street.</p>
{% else %}
			<p>Mitten in Downtown Manhattan liegt die <a href="https://de.wikipedia.org/wiki/Mulberry_Street_(Manhattan)" target="_blank">Mulberry Street</a>, eine der ältesten Straßen New Yorks. Sie ist geprägt durch das Quartier Little Italy im Norden und Chinatown im Süden. Kaum ein anderer Ort steht mehr für das Zusammenleben unterschiedlicher Kulturen und die Vielfalt der Speisen wie die Mulberry Street.</p>
{% endif %}
										</div>
									</div>
									<div class="keyvisual area-bg-02"></div>
									<div class="keyvisual area-bg-03"></div>
									<div class="keyvisual area-bg-04"></div>
									<div class="keyvisual area-bg-05"></div>
									<div class="keyvisual area-bg-06"></div>
								</div>
</section>