<section class="probst">
	<a id="probst"></a>
	<div class="wrapper">
		{% if page.url == "/english.html" %}
		<div class="flex-probst">
			<h4 class="opening">Coming Summer 2018</h4>
			<div class="flexL">
				<img class="probst-logo" src="{{site.baseurl }}/assets/images/probst-mulberry-logo-neg.svg" alt="">			
				<p>In early summer Phillip Probst, our gourmet restaurant, will open at the<strong class="uppercase"> Mulberry st</strong>. The chef, Phillip Probst, has experienced many fine and star gastronomies and will set the menu.</p>
			</div>
			<div class="flexR">
				<img src="{{site.baseurl }}/assets/images/probst_portrait.jpg" alt="">
				<p class="">Foto: Wolfhard Scheer</p>			
			</div>
		</div>
{% else %}
		<div class="flex-probst">
		<h4 class="opening">Ab Sommer</h4>
		<div class="flexL">
			<img class="probst-logo" src="{{site.baseurl }}/assets/images/probst-mulberry-logo-neg.svg" alt="">			
			<p>Im Frühsommer eröffnet das PHILLIP PROBST im <strong class="uppercase">MULBERRY ST</strong>, unsere aufregende Gourmetküche. Phillip Probst, unser Küchenchef, geprägt durch intensive Kocherfahrungen in der Sternegastronomie, stellt das Menü zusammen.</p>
		</div>
		<div class="flexR">
			<img src="{{site.baseurl }}/assets/images/probst_portrait.jpg" alt="">
			<p class="">Foto: Wolfhard Scheer</p>			
		</div>
	</div>
{% endif %}
	</div>
</section>


