<section class="probst">
	<a id="probst"></a>
	<div class="wrapper">
		{% if page.url == "/english.html" %}
		<div class="flex-probst">
			<h4 class="opening">From Early Summer</h4>
			<div class="flexL">
				<img class="probst-logo" src="{{site.baseurl }}/assets/images/probst-mulberry-logo-neg.svg" alt="">			
				<p>In early summer Phillip Probst, our gourmet restaurant, will open at the Mulberry st. The chef, Phillip Probst, has experienced many fine and star gastronomies and will set the menu.</p>
				<p>Tuesday – Saturday 6:00PM – 10:00PM</p>
			</div>
			<div class="flexR">
				<img src="{{site.baseurl }}/assets/images/probst_portrait.jpg" alt="">			
			</div>
		</div>
{% else %}
		<div class="flex-probst">
		<h4 class="opening">Ab Frühsommer</h4>
		<div class="flexL">
			<img class="probst-logo" src="{{site.baseurl }}/assets/images/probst-mulberry-logo-neg.svg" alt="">			
			<p>Im Frühsommer eröffnet das PHILLIP PROBST im MULBERRY ST, unsere aufregende Gourmetküche. Phillip Probst, unser Chefkoch, geprägt durch intensive Kocherfahrungen in der Sternegastronomie, stellt das Menü zusammen.</p>
			<p>Dienstag – Samstag  18:00 – 22:00 Uhr</p>
		</div>
		<div class="flexR">
			<img src="{{site.baseurl }}/assets/images/probst_portrait.jpg" alt="">			
		</div>
	</div>
{% endif %}
	</div>
</section>



