
<a id="speisen"></a>
<section class="speisen">
	<div class="wrapper center">
	<!-- <a href="javascript:void(0)"><img class="speisactivator" src="{{site.baseurl }}/assets/images/forkknifespoon.svg" alt="">	</a> -->
		{% include util.html %}

{% if page.url == "/english.html" %}
	<p class="meal-desc">Take a look at our <a href="{{site.baseurl }}/assets/images/Mulberry_Menue_Mai.pdf" target="_blank" class="speisactivator"><strong class="uppercase underline">menu</strong></a> or <a href="{{site.baseurl }}/assets/images/Mulberry_Weine.pdf"><strong class="uppercase underline">wine menu</strong></a></p>

{% else %}
	<p class="meal-desc">Werfen Sie ein Blick in unsere <a href="{{site.baseurl }}/assets/images/Mulberry_Menue_Mai.pdf" target="_blank" class="speisactivator"><strong class="uppercase underline">Speisekarte</strong></a>, <br>
		 <a href="{{site.baseurl }}/assets/images/spargelkarte.pdf" target="_blank" class="speisactivator"><strong class="uppercase underline">Spargelkarte</strong></a> oder <a href="{{site.baseurl}}/assets/images/Mulberry_Weine.pdf"><strong class="uppercase underline">Weinkarte</strong></a></p>

{% endif %}
	</div>
</section>