<div class="owl-two owl-carousel owl-theme margin-bot">
	<div class="roomgallery rg01">
			<p class="caption">Fotos / Photos: Werner Huthmacher</p>
	</div>
	<div class="roomgallery rg02">
			<p class="caption">Fotos / Photos: Werner Huthmacher</p>
	</div>
	<div class="roomgallery rg03">
			<p class="caption">Fotos / Photos: Werner Huthmacher</p>
	</div>
	<div class="roomgallery rg04">
			<p class="caption">Fotos / Photos: Werner Huthmacher</p>
	</div>
</div>

<a id="speisen"></a>
<section class="speisen">
	<div class="wrapper center">
	<!-- <a href="javascript:void(0)"><img class="speisactivator" src="{{site.baseurl }}/assets/images/forkknifespoon.svg" alt="">	</a> -->
		{% include util.html %}

{% if page.url == "/english.html" %}
	<p class="meal-desc">Take a look at our <a href="{{site.baseurl }}/assets/images/Mulberry_Menue_April.pdf" target="_blank" class="speisactivator"><strong class="uppercase underline">menu</strong></a> or <a href="{{site.baseurl }}/assets/images/Mulberry_Weine.pdf"><strong class="uppercase underline">wine menu</strong></a></p>

{% else %}
	<p class="meal-desc">Werfen Sie ein Blick in unsere <a href="{{site.baseurl }}/assets/images/Mulberry_Menue_April.pdf" target="_blank" class="speisactivator"><strong class="uppercase underline">Speisekarte</strong></a> oder <a href="{{site.baseurl}}/assets/images/Mulberry_Weine.pdf"><strong class="uppercase underline">Weinkarte</strong></a></p>

{% endif %}
	</div>
</section>