section.features
	margin: 2em 0 4em 0
	@media all and (max-width: $screen-s)
		margin: 2em 0 8em 0
	p
		text-align: center
.roomgallery
	position: relative
	max-width: 100%
	height: 650px
	@media all and (max-width: $screen-l)
		height: 550px
	@media all and (max-width: $screen-m)
		height: 500px

.lockup
	position: absolute
	top: 50%
	left: 50%
	text-align: center
	transform: translate(-50%,-50%)

.lockup-desc
	border-radius: 2px 2px 0px 0px
	font-size: 95%
	padding: 1em 1em 0.5em 1em
	background-color: rgba(white,0.85)
	color: $red
	span
		text-transform: lowercase
.lockup-price
	border-radius: 0 0 2px 2px
	padding: 1em
	background-color: $red
	color: white

.rg01
	background: url($baseurl + "/assets/images/mrestaurant_01.jpg") center center / cover no-repeat
.rg02
	background: url($baseurl + "/assets/images/mrestaurant_02.jpg") center center / cover no-repeat
.rg03
	background: url($baseurl + "/assets/images/mrestaurant_03.jpg") center center / cover no-repeat
.rg04
	background: url($baseurl + "/assets/images/mrestaurant_04.jpg") center center / cover no-repeat
.rg05
	background: url($baseurl + "/assets/images/Mulberry-Food-4685.jpg") center center / cover no-repeat
.rg06
	background: url($baseurl + "/assets/images/Mulberry-Food-4560.jpg") center center / cover no-repeat
.rg07
	background: url($baseurl + "/assets/images/Mulberry-Food-4598.jpg") center center / cover no-repeat
.rg08
	background: url($baseurl + "/assets/images/Mulberry-Food-4642.jpg") center center / cover no-repeat
.rg09
	background: url($baseurl + "/assets/images/Mulberry-Food-4784.jpg") center center / cover no-repeat
.rg10
	background: url($baseurl + "/assets/images/Mulberry-Food-4655.jpg") center center / cover no-repeat
.rg11
	background: url($baseurl + "/assets/images/Mulberry-Food-4822.jpg") center center / cover no-repeat

.flex-cont
	display: flex
	flex-wrap: wrap

.area
	margin: 0 0 20px 0

.area-bg-01, .area-bg-02, .area-bg-03
	position: relative
	flex: 1
	flex-basis: 30%
.area-bg-01
	margin: 0 10px 0 0
	@media all and (max-width: $screen-m)
		flex-basis: 48% 
		margin: 0 4px 4px 0
.area-bg-02
	margin: 0 10px 0 10px
	@media all and (max-width: $screen-m)
		margin: 0 0 4px 4px
		flex-basis: 48% 
.area-bg-03
	margin: 0 0 0 10px
	@media all and (max-width: $screen-m)
	margin: 4px 0 0 0
		flex-basis: 100% 

.area-bg-01
	background: url($baseurl + "/assets/images/mulberry_01.jpg") center center / cover no-repeat
.area-bg-02
	background: url($baseurl + "/assets/images/mulberry_02.jpg") center center / cover no-repeat
.area-bg-03
	background: url($baseurl + "/assets/images/mulberry_03.jpg") center center / cover no-repeat
.area-bg-04
	background: url($baseurl + "/assets/images/mulberry_04.jpg") center center / cover no-repeat
.area-bg-05
	background: url($baseurl + "/assets/images/mulberry_05.jpg") center center / cover no-repeat
.area-bg-06
	background: url($baseurl + "/assets/images/mulberry_06.jpg") center center / cover no-repeat

.area-image
	height: 338px
	@media all and (max-width: $screen-s)
		height: 250px

.area-logo-cont
	position: relative
	background: white
	height: 40px

.area-logo
	width: 200px
	height: auto
	position: absolute
	left: 50%
	bottom: 0
	transform: translateX(-50%)
